*{
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: "Karla", sans-serif;
	background-color: #E6EFF5;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 20px;
}

@media screen and (width >= 798px){
	body{
		padding: 0;
	}
}